<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://i.pinimg.com/236x/90/cd/98/90cd9826ec921ef05630342ca67bacb8.jpg" alt="Background Image" class="img-fluid">
        </div>

        <div class="col-md-6">
            <p class="follow-text">FOLLOW MALKIA MUSIC</p>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="follow-button">
                <p class="follow-btn">FOLLOW</p>
            </div>

            <div class="row icon-row">
                <div class="col-2">
                    <img src="assets/facebook.png" alt="Facebook" class="icon">
                </div>
                <div class="col-2">
                    <img src="assets/instagram.png" alt="Instagram" class="icon">
                </div>
                <div class="col-2">
                    <img src="assets/youtube.png" alt="YouTube" class="icon">
                </div>
                <div class="col-2">
                    <img src="assets/twitter.png" alt="Twitter" class="icon">
                </div>
                <div class="col-2">
                    <img src="assets/tik-tok.png" alt="TikTok" class="icon">
                </div>
                <div class="col-2">
                    <img src="assets/spotify.png" alt="Spotify" class="icon">
                </div>
            </div>
        </div>
    </div>
</div>
