ul {
    display: flex;
    list-style-type: none;
    padding: 5rem 0 0 10rem;
    
}

li {
    color: white;
    margin-right: 20px;
    font-size: 1.5rem;
    cursor: pointer; /* Ensure this is applied */
}
