<div class="navigation">
    <app-navbar></app-navbar>
</div>
<div class="container videos-page">

    <div class="row">
        <!-- Repeat the following block to display 20 videos -->
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card video-card border-0 shadow-lg text-center">
                <div class="card-body">
                    <h5 class="card-title text-light">Video Title</h5>
                    <div class="video-wrapper">
                        <iframe src="https://www.youtube.com/embed/W8QpCNV0syg?controls=1&autoplay=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/watch?v=W8QpCNV0syg" target="_blank" class="btn btn-outline-light mt-2">Watch on YouTube</a>
                </div>
            </div>
        </div>

        <!-- Repeat the video card structure for more videos -->
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card video-card border-0 shadow-lg text-center">
                <div class="card-body">
                    <h5 class="card-title text-light">Video Title</h5>
                    <div class="video-wrapper">
                        <iframe src="https://www.youtube.com/embed/W8QpCNV0syg?controls=1&autoplay=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/watch?v=W8QpCNV0syg" target="_blank" class="btn btn-outline-light mt-2">Watch on YouTube</a>
                </div>
            </div>
        </div>

        <!-- Add more video cards as needed -->
        <!-- Example video card -->
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card video-card border-0 shadow-lg text-center">
                <div class="card-body">
                    <h5 class="card-title text-light">Video Title</h5>
                    <div class="video-wrapper">
                        <iframe src="https://www.youtube.com/embed/W8QpCNV0syg?controls=1&autoplay=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/watch?v=W8QpCNV0syg" target="_blank" class="btn btn-outline-light mt-2">Watch on YouTube</a>
                </div>
            </div>
        </div>

        <!-- Add more video cards as needed -->
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card video-card border-0 shadow-lg text-center">
                <div class="card-body">
                    <h5 class="card-title text-light">Video Title</h5>
                    <div class="video-wrapper">
                        <iframe src="https://www.youtube.com/embed/W8QpCNV0syg?controls=1&autoplay=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <a href="https://www.youtube.com/watch?v=W8QpCNV0syg" target="_blank" class="btn btn-outline-light mt-2">Watch on YouTube</a>
                </div>
            </div>
        </div>

        <!-- Continue adding more video cards as needed -->
    </div>

    <app-footer></app-footer>
</div>
