<div class="container">
    <div class="row">
        <!-- Each column will take 3 columns on medium screens and 12 columns (full width) on small screens -->
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card music-card border-0 shadow-lg text-center">
                <img class="card-img-top" src="https://i.pinimg.com/474x/aa/1f/ee/aa1fee1544bbe0c4b652a32fe7ee9b5b.jpg" alt="Track Image">
                <div class="card-body">
                    <h5 class="card-title text-light">Tear Drops</h5>
                    <audio controls>
                        <source src="track-url.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <a href="track-url.mp3" download class="btn btn-outline-light mt-2">Download</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card music-card border-0 shadow-lg text-center">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Track Image">
                <div class="card-body">
                    <h5 class="card-title text-light">Track Title</h5>
                    <audio controls>
                        <source src="track-url-2.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <a href="track-url-2.mp3" download class="btn btn-outline-light mt-2">Download</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card music-card border-0 shadow-lg text-center">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Track Image">
                <div class="card-body">
                    <h5 class="card-title text-light">Track Title</h5>
                    <audio controls>
                        <source src="track-url-2.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <a href="track-url-2.mp3" download class="btn btn-outline-light mt-2">Download</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card music-card border-0 shadow-lg text-center">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Track Image">
                <div class="card-body">
                    <h5 class="card-title text-light">Track Title</h5>
                    <audio controls>
                        <source src="track-url-2.mp3" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <a href="track-url-2.mp3" download class="btn btn-outline-light mt-2">Download</a>
                </div>
            </div>
        </div>

        
    </div>
    
</div>

