<div class="container">
    <div class="row">
        <!-- Each column will take 3 columns on medium screens and 12 columns (full width) on small screens -->
        <div class="col-md-3 col-sm-12">
            <!-- Card 1 -->
            <div class="card border-0 shadow-lg">
                <img class="card-img-top" src="https://i.pinimg.com/474x/aa/1f/ee/aa1fee1544bbe0c4b652a32fe7ee9b5b.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tear Drops</h5>
                  <a href="#" class="btn btn-dark">Listen</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <!-- Card 2 -->
            <div class="card border-0 shadow-lg">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tear Drops</h5>
                  <a href="#" class="btn btn-dark">Listen</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <!-- Card 2 -->
            <div class="card border-0 shadow-lg">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tear Drops</h5>
                  <a href="#" class="btn btn-dark">Listen</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12">
            <!-- Card 2 -->
            <div class="card border-0 shadow-lg">
                <img class="card-img-top" src="https://i.pinimg.com/236x/e6/11/cc/e611cc3cf5b2b9cdc4ca0d84372f08c9.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Tear Drops</h5>
                  <a href="#" class="btn btn-dark">Listen</a>
                </div>
            </div>
        </div>

        
    </div>
</div>
