<div class="container-fluid">
    <div class="main-section">
        <div class="navbar">
            <app-navbar></app-navbar>
        </div>
        
        <div class="image">
            <img src="./assets/main_bg.png" alt="Background Image">
        </div>
    </div>

    <div class="line"></div>

    <div class="music-section">
        <p class="sub-header">MUSIC</p>
        <app-music></app-music>
        <p class="view-more">VIEW MORE</p>
    </div>

    <div class="line"></div>
    
    <div class="video-section">
        <p class="sub-header">VIDEO</p>
        <app-videos></app-videos>

        <p class="view-more">VIEW MORE</p>
    </div>

    <div class="line"></div>

    <div class="footer-section">
        <app-footer></app-footer>
    </div>
</div>
